/* Style Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    display: flex;
    list-style-type: none
}


/* Fonts */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold_1.woff2') format('woff2'), url('../fonts/Montserrat-Bold_1.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}


/* General Rules */

body {
    background: url("../img/header.png") no-repeat;
    background-position-y: 5rem;
    background-size: 350%;
    margin: 0 auto;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding-top: -8rem;
    max-width: 100vw;
}

@media screen and (min-width: 768px) {
    body {
        background-size: auto;
        background-position-x: -7rem;
        background-position-y: 2rem;
    }
}


/* Header */

body>header {
    width: 100vw;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 50;
}

nav {
    pointer-events: none;
}

nav:before {
    content: "☰";
    font-size: 2rem;
    line-height: 5rem;
    padding: 2rem 1.5rem 0 2rem;
    cursor: pointer;
    pointer-events: all;
}

.hamburger-active:before {
    background-color: #212121;
    color: #fff;
    padding-bottom: 2rem;
}

.menu-active {
    height: 100vh;
}

.menu-active li a {
    visibility: visible;
}

nav ul {
    height: 0;
    width: 100%;
    list-style-type: none;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: #212121;
    transition: 0.5s;
    z-index: 10;
    flex-direction: column;
}

nav>ul>li a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    margin-left: 2rem;
    font-size: 1.3rem;
    line-height: 4.42rem;
    visibility: hidden;
    transition: 0.3s;
}

h1 {
    padding: .8rem 1rem .5rem 1.2rem;
}

h1 img {
    width: 95%;
    height: auto;
    margin-top: 0.7rem;
}

@media screen and (min-width: 1487px) {
    nav>ul>li {
        display: inline-block;
        padding: 2.5rem 1.5rem;
        font-size: 1.5rem;
    }
    nav:before {
        content: "";
    }
}


/* Section 1 */

main {
    padding-top: 7.5rem;
}

main p:first-of-type {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 0.8rem 1rem;
    line-height: 3rem;
}

main>section:first-of-type>p:nth-of-type(2) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0 1rem;
    font-size: 1.1rem;
    color: #fff;
}

#home>section>header {
    font-family: 'Montserrat', sans-serif;
    padding: 1.8rem 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    line-height: 1.8rem;
    z-index: -1;
}

#home>section>header:after {
    content: "";
    width: 2rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 6rem;
    left: 1.1rem;
    z-index: -1;
}

#home>section>form {
    margin: 2rem 1rem 0 1rem;
}

#home>section>form>header {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1rem;
}

fieldset {
    border: none;
}

#home>section>form>fieldset {
    margin-top: 1rem;
}

#home>section>form input[type="text"] {
    display: block;
    width: 100%;
    height: 2.1875rem;
    border-radius: 0.1875rem;
    margin-top: 0.75rem;
    border: none;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #666;
    font-size: 1rem;
    padding-left: 0.5rem;
}

#home>section>form input[type="text"]::-webkit-input-placeholder-shown,
#home>section>form input[type="text"]::-moz-placeholder-shown,
#home>section>form input[type="text"]:-ms-input-placeholder-shown,
#home>section>form input[type="text"]:-moz-placeholder-shown {
    border: 3px solid #333;
}

#home>section>form input[type="submit"] {
    display: block;
    width: 100%;
    height: 2.5em;
    border-radius: 1.875rem;
    margin-top: 1rem;
    background-color: #00EA84;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: normal;
}

#home>section footer {
    margin: 1rem 1rem 2rem 0;
    text-align: right;
    font-size: 1rem;
    line-height: 1rem;
}

#home>section footer a {
    color: #000;
    text-decoration: none;
}

#home>section+footer {
    margin: 0 1rem;
    font-size: 0.85rem;
}

#home-claim p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    margin: 4rem auto;
    text-align: center;
    line-height: 3rem;
    color: #444;
    text-transform: none;
}


/* Media queries for first section */

@media screen and (min-width: 768px) {
    #home {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 33.3% 33.3% 33.3%;
    }
    #home>section {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #home>p:first-child {
        font-size: 3rem;
        font-weight: bold;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
    }
    #home>p:first-child+p {
        font-size: 2.3rem;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 12rem;
        align-self: center;
    }
    #home>section>footer {
        font-size: .9rem;
        color: #fff;
    }
    #home>section>footer a {
        color: #fff;
    }
    #home>p:last-child {
        grid-column: 1/3;
    }
    #home>footer {
        grid-column: 2/3;
    }
    #home-claim p {
        width: 90%;
        margin: 4rem auto;
        position: relative;
        font-size: 1.2rem;
        line-height: 1.9rem;
    }
    #home-claim p:after,
    #home-claim p:before {
        font-family: 'Montserrat', sans-serif;
        font-size: 7.5rem;
        color: #194fd6;
        font-weight: 400;
        position: absolute;
        top: 2.2rem;
    }
    #home-claim p:after {
        content: "}";
        right: -2rem;
    }
    #home-claim p:before {
        content: "{";
        left: -2rem;
    }
}


/* End media queries for first section */


/* End 1 Section */


/* Team */

main>section>header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

main>section>header:after {
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    background-color: #194fd6;
    margin: 2rem auto 0;
}

main>section>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>section>ul>li>figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    position: relative;
}

main>section>ul img[src^="img/team/"] {
    width: 280px;
    height: auto;
}

#team>ul figure p {
    margin: 0;
    padding: 0;
    color: #000;
    text-transform: lowercase;
    display: none;
}

#team>ul figcaption span {
    display: none;
}

#team>ul figcaption a {
    display: none;
}

#team>ul figcaption {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 3rem;
    margin-top: -4rem;
    font-weight: bold;
}

.member-back:after {
    background-color: #194fd6;
    opacity: .9;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 280px;
    height: 280px;
}


/* Media queries for Team */

@media screen and (min-width: 768px) {
    main>section>ul {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 4rem;
    }
    main>section>ul>li figure {
        margin: 2.5rem 1rem;
    }
}


/* End media queries for Team */


/* End Team */


/* Projects */

img[src^="img/projects/"]+figcaption {
    text-align: center;
    color: #474747;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 2rem 4rem;
}

#projects>ul>li>figure {
    margin-bottom: 0;
}

#projects>ul>li:last-child>figure {
    margin-bottom: 3rem;
}


/* Media queries for Projects */

@media screen and (min-width: 768px) {
    #projects>ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #projects>ul>li {
        max-width: 50%;
    }
}


/* End media queries for Projects */


/* End Projects */


/* Open-Source */

#open-source>ul figcaption {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#open-source>ul figcaption p {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 1rem;
    text-transform: lowercase;
    text-align: center;
}

#open-source>ul img[alt*="contributor"] {
    width: 96px;
    height: 96px;
}

#open-source>ul>li {
    position: relative;
}

#open-source>ul figure {
    display: grid;
    max-width: 100vw;
    padding-bottom: 3rem;
    border-bottom: 1px solid #373737;
    margin: 0 1rem;
}

#open-source>ul>li:last-child figure {
    border: none;
    margin-bottom: 4rem;
}

#open-source img+img {
    grid-column: 2/3;
    grid-row: 3/4;
}

#open-source>ul figure figcaption {
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 85%;
    margin: 0 auto;
    color: #373737;
}

#open-source>ul figure figcaption p {
    padding: 0;
    margin-bottom: 2.3rem;
    color: #373737;
}

#open-source>ul figure figcaption header {
    font-size: 1.75rem;
}

#open-source>ul figure figcaption p::first-letter {
    text-transform: capitalize;
}

#open-source>ul>li:first-child figure figcaption+img,
#open-source>ul>li:last-child figure figcaption+img {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 45%;
    margin-right: -5%;
}

#open-source>ul>li:nth-child(2) figure figcaption+img,
#open-source>ul>li:nth-child(3) figure figcaption+img,
#open-source>ul>li:nth-child(4) figure figcaption+img {
    margin: 0 auto;
    grid-column: 1/3;
}

#open-source>ul>li:first-child figure figcaption+img+img,
#open-source>ul>li:last-child figure figcaption+img+img {
    margin-right: 35%;
    margin-left: -8%;
}

#open-source>ul figure>img:first-of-type {
    grid-column: 1/3;
    width: 120px;
    height: 100px;
    margin: 0 auto;
}


/* End Open-Source */


/* Community */

#projects>ul figure header {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: #373737;
    text-align: center;
    margin: 2rem;
}

#projects>ul figure p {
    text-transform: none;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #373737;
    margin: 0 1rem;
    line-height: 180%;
    padding: 0;
}

#projects>ul figure {
    margin-bottom: 2rem;
}

#projects>ul>li:last-child figure {
    margin-bottom: 6rem;
}


/* End Community*/


/* Contact */

#contact>header {
    font-size: 1.8rem;
    color: #373737;
    max-width: 350px;
    margin: 0 auto;
    line-height: 100%;
}

#contact>header:after {
    top: 100px;
}

#contact iframe {
    margin: 70px 1rem 0 1rem;
    width: calc(100% - 2rem);
    height: 450px;
    border: 0;
}

#contact address {
    background: url("../img/rebased-logo-picture.png") no-repeat center 30%;
    padding: 250px 0 0 0;
    max-width: 165px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 100;
    color: #373737;
}

#contact address a {
    color: #194fd6;
    text-decoration: none;
    font-weight: normal;
    display: block;
    margin: 0.5rem 0 -0.5rem 0;
}

#contact aside header {
    color: #24EA71;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5rem;
    padding: 0;
}

#contact aside p {
    color: #000;
    text-transform: none;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    line-height: normal;
    padding: 0 1rem;
}

#contact aside p a {
    color: #000;
    text-decoration: none;
}

#contact aside form {
    margin-top: 0;
}

#contact aside form>fieldset input[type="text"] {
    border: 0.01rem solid #ddd;
}

#contact aside footer {
    font-size: .85rem;
    text-align: center;
    margin: 2rem 1rem;
    line-height: 140%;
}


/* End Contact */


/* Footer */

main>footer {
    background-color: #326ED5;
    color: #fff;
    text-align: center;
    height: 90px;
    font-weight: 100;
    padding: 1.3rem 7rem;
}