/* Style Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Rules */

body {
  background: url("../img/header.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
  
}

/* Header */

body > header {
  width: 100%;
  height: 80px; 
  background-color: #fff;
  display: flex;
}


nav > ul > li {
  display: inline-block;
}

a {
  text-decoration: none;
}
